
/* Timothy Case 10/29/2021*/ 
body {
	background-color: #B8D1EB;

}
.fonts {
	color: #000000;
	font-family: Times New Roman, sans-serif;
}

#outerwrapper {

	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
} 

.floatleft { 
float: left;
margin-left: 3%;

}

.floatright {
float: right;
margin-right: 3%;

}

main, footer { 
clear: both;
background-color: green;
padding-top: 10px;
padding-bottom: 10px;
font-size: .75em;

}
main {
	background-color: #C5A98B;
	padding: 10px;
}
h1 {
	font-family: 'Righteous', cursive;
}
main ul {
	list-style-image: url('../images/tomato.png');
}
h2 {
	font-family: quicksand, sans-serif;
	font-weight: normal;
	font-style: italic;
}
